
.formStyle form input{
    margin-top: 15px;
    width: 400px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #d0936a;
}
.formStyle{
    width: 500px;
    color: rgb(12, 1, 1);
    margin: 20px;
}