.dashBoard ul li {
    list-style: none;
    margin-top: 10px;

}
.dashBoard ul a{
    text-decoration:none;
    color: white;
}

.dashBoard{
    height: 550px;
    background-image: linear-gradient(pink, black);

}
.dashHeader{
    background-color: rgb(14, 0, 8);
    height: 100px;
    color: white;
}