.footter ul a {
    text-decoration: none;
color: black;
}
.footter{
    background-image: url('../../../images/footer_1920x.png');
    /* background-position: ; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-color: #faf3ed;
}